body{
  background-color:#FADBD8;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: auto;
}
.left{
  position: absolute;
  left: 75px;
  width: 150px;
  padding-top: 150px;
}
.right{
  position: absolute;
  left: 350px;
  width: 150px;
  padding-top: 190px;
}
.down{
  position: absolute;
  right: 425px;
  width: 100px;
  padding-top: 150px;
}
h5{
  text-align:justify;
  position: absolute;
  right: 50px;
  width: 300px;
  padding-top: 100px;
  color:HSL(6, 76%, 61%);
}
h4{
  color:rgb(255, 52, 12);
  background-color:#FF96B5 ;
}